body{
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    font-size: 0.8rem;
}
nav{
    display: flex;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
    grid-area: navegador;
    background-color: #181C14;
    color: whitesmoke;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
nav ul li{
    transition: all 0.3s ease-out;
}
.item{
    display: none;
}
.menu{
    padding: 5px;
}
nav ul li:hover{
    padding: 15px;
    background-color:#A04747;
    border-radius: 10px;
    font-weight: 800;
}
.logo{
    width:13.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}
.logo h2{
    font-size: 1.7rem;
}
.logo p{
    font-family: "Urbanist", sans-serif;
    width: 6rem;
    font-weight: 200;
    font-size: 1rem;
    font-style: italic;
}
main{
    display:grid;
    grid-template-columns: 1fr;
    grid-area: principal;
    background-color:#FAF7F0;
}
main img{
    width: 100%;
    border-radius: 10px;
}
.presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 25rem;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.presentacion h3{
    margin: 0;
    padding: 0;
    font-size: 2rem;
}
.presentacion p{
    margin: 10px;
    font-size: 1.2rem;
}
.titulo{
    display: flex;
    justify-content: center;
}
.titulo h3{
    font-size: 2rem;
}
.galeria{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 21px -3px rgba(120,118,118,0.75);
-webkit-box-shadow: 10px 10px 21px -3px rgba(120,118,118,0.75);
-moz-box-shadow: 10px 10px 21px -3px rgba(120,118,118,0.75);
}
.img-detalle{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.img-detalle img{
    filter: grayscale(100);
    opacity: 0.6;
    transition: opacity 0.3s ease-out;
}
.img-detalle img:hover{
    filter: grayscale(0);
    opacity: 1;
}

.detalle-imagen{
    margin: 1rem 0 0 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 600;
}
.fecha-imagen{
    margin: 0;
    padding: 0;
    font-size: 0.65rem;
    color:#697565;
}
footer{
    grid-area: pie;
    background-color:#3C3D37;
    color: whitesmoke;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 9fr 1fr;
    grid-template-areas: 
    'navegador'
    'principal'
    'pie'
    ;
}
.container ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.container ul li{
    text-decoration: none;
}
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #A04747;
    color: whitesmoke;
    transition: all 0.5s;
    
}
.formulario:hover{
    border-radius: 0 70px 0 0 ;
    background-color: #2F3645;
}
.formulario h3{
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    font-size: 2rem;
}
.formulario form{
    font-size: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 80%;
}
.formulario input{
    border: none;
    height: 1.5rem;
    font-size: 0.8rem;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}
.formulario button{
    margin: 0;
    margin-bottom: 1.5rem;
    padding: 0;
    font-size: 1rem;
    height: 2rem;
    color: #3C3D37;
    border: none;
    border-radius: 10px;
    width: 20%;
}
.pie-pagina{
    display: flex;
    justify-content: space-around;
    margin: 0.3rem;
}
.pie-pagina h4{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 200;
}
.redes{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 1.1rem;
}
.direccion address{
    margin: 1rem 0 0 0;
    padding: 0;
    font-size: 0.7rem;
}
.direccion p{
    font-size: 0.7rem;
    margin: 0;
    padding: 0;
}
.direccion span{
    font-size: 0.7rem;
    font-weight: 600;
    color:#F4CE14;
}
/* Media queries */
@media (min-width:562px){
    .item{
        display:inline;
    }
    .menu{
        display: none;
    }
    .container{
        grid-template-columns: auto 72%;
        grid-template-areas:
        'navegador principal'
        'navegador principal'
        'navegador pie'
        ;
    }
    .card{
        width: 10rem;
    }
    .presentacion{
        height: 30rem;
    }
    .presentacion h3{
        font-size: 2.5rem;
    }
    .presentacion p{
        margin: 10px;
        font-size: 1.2rem;
    }
    main{
        overflow-y:scroll;
    }
    nav{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
    }
    nav h2{
        margin: 1rem 0;
        padding: 0;
    }
    .container ul{
        margin: 0;
        padding: 2rem 0;
        flex-direction: column;
    }
    nav ul li{
        padding-left: 1rem;
    }
    .logo{
        width: 8.5rem;
    }
}
@media (min-width:992px){
    .container{
        grid-template-columns: auto 80%;
    }
    .card{
        width: 15rem;
    }
    .presentacion{
        height: 30rem;
    }
    .presentacion h3{
        font-size: 3rem;
    }
    .presentacion p{
        font-size: 1.2rem;
    }
}

@media (min-width:1200px){

}
